<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>RSS拡張システム {% block title %}{% endblock %}</title>
    <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
  </head>
  <body>
    <div>
      {% block content %}
      {% endblock %}
    </div>
    {% block user_block %}<a href="{{ path('logout') }}">Logout</a>{% endblock%}
    {% block javascripts %}
        <script src="{{ asset('/bundles/rssrecommend/js/jquery-3.1.1.min.js') }}"></script>
        <script src="{{ asset('/bundles/rssrecommend/js/form.js') }}"></script>
    {% endblock %}
  </body>
</html>
